---
import Link from '@/components/ui/Link.astro';
import Section from '@/components/layout/base/Section.astro';
import { PROJECTS } from '@/data/content';
import { Icon } from 'astro-icon/components';
import { ICONS } from '@/data/icons';
import { SOCIAL_LINKS } from '@/data/consts';
---

<Section id="projects" subtitle="Projetos" title="Destaques">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    {
      PROJECTS.map((item) => (
        <div class="group">
          <a
            href={item.preview}
            aria-label={item.title}
            title={item.title}
            class="mb-4 block overflow-hidden rounded-2xl border border-(--white-icon-tr) shadow-lg transition-shadow duration-300 hover:shadow-xl"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src={item.image}
              alt={item.title}
              class="aspect-video w-full object-cover grayscale transition-all duration-300 group-hover:scale-105 group-hover:grayscale-0"
              loading="lazy"
            />
          </a>

          <div class="flex items-start gap-4 px-4">
            <div class="grow">
              <h4 class="text-2xl font-semibold">{item.title}</h4>
              <span class="mt-1 block text-sm text-(--white-icon)">
                {item.description}
              </span>
            </div>

            <div class="flex gap-2">
              {item.repo && (
                <Link
                  href={item.repo}
                  aria-label="GitHub"
                  title="Código Fonte"
                  class="rounded-xl"
                  external
                >
                  <Icon name={ICONS.ui.GitHub} class="size-5" />
                </Link>
              )}

              <Link
                href={item.preview}
                aria-label="Preview"
                title="Preview"
                class="rounded-xl"
                external
              >
                <Icon name={ICONS.ui.ExternalLink} class="size-5" />
              </Link>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <div class="mt-10">
    <Link
      href={SOCIAL_LINKS[0].href}
      aria-label="GitHub"
      title="GitHub"
      class="inline-flex w-full items-center justify-center gap-1.5"
      external
    >
      Ver mais no GitHub
      <Icon name={ICONS.ui.GitHub} class="size-4" />
    </Link>
  </div>
</Section>
